<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="./Tests/Bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        verbose="true">
    <testsuite name="CkoCheckoutPayment Test Suite">
        <directory>./Tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">./Tests</directory>

                <!-- Bootstrap -->
                <file>CkoCheckoutPayment.php</file>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
